.footer-top {
    margin: 10px 0;
}

.divider {
    margin: 10px 0;
    height: 4px;
    border-top: 1px solid #e8eaf0;
    border-bottom: 1px solid rgba( 255, 255, 255, 0.1);
}


.footer-bottom{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.coppy-right{
    font-size: 14px;
    color: #fff;
}
