
/* .footer{
    overflow: hidden;
} */

.footer-top {
    width: 100%;
    padding: 10px 0;
    background-image: url('../assets/footer/footer-bg.jpg');
    background-size: cover;
    background-position: center;
}

.divider {
    margin: 10px 0;
    height: 4px;
    border-top: 1px solid #10131c;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}


.footer-bottom{
    background-color:#11141d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.coppy-right{
    font-size: 14px;
    color: var(--primary-color);
}
