.header{
    background-color: #171d21;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    height: 114px;
     transition: 0.5s ease-out;
}

.header.hidden{
    display: none;
}