.main {
    width: 100%;
    min-height: 100vh;
    margin-top: 112px;
    background: url('https://codewithsadee.github.io/filmlane/assets/images/upcoming-bg.png') no-repeat ;
    background-position: center;
    background-size: cover;
  }
  

