
/*
    Mobile & Tablet
*/

@media (max-width: 1023px){
    .hidden-on-mobile-tablet {
        display: none !important;
    }

    .header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    .navbar__main{
        align-items: center;
        justify-content: center;
    }

    .navbar__main-searchbar-wrapper{
        margin: 0;
    }

    .slider__item > img {
        height: 30vh;
    }

    .download__box{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .download__content{
        width: 80%;
        text-align: center;
    }

    .download__app{
        justify-content: center;
    }

    .subcribe{
        flex-direction: column;
        gap: 40px;
    }

    .navbar__logo-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Detail film */
    .detail_film_img_box{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }

    .detail_film_img{
        width: 60%;
    }

    .detail_film_info_box{
        flex-direction: column;
    }

    .detail_film-video{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #video_iframe{
        width: 90vw;
        height: 45vh;
    }
}

/* 
    Mobile
*/

@media (max-width: 739px){
    .hidden-on-mobile {
        display: none !important;
    }

    .header{
        height: 100px;
    }

    .main{
        margin-top: 90px;
    }

    .navbar__menu-content{
        left: 30%;
    }

    .navbar__menu-content .navbar__main-pages{
        font-size: 16px;
        padding: 0;
    }

    .navbar__menu-exit{
        font-size: 20px;
        padding: 15px;
    
    }

    .slider__dot-icon{
        padding: 10px 10px;
        font-size: 10px;
    }
    .slider__next,
    .slider__prev{
        font-size: 30px;
    }

    .product-item .name_film{
        width: 72%;
        font-size: 18px;
    }

    .product-item .year_film{
        font-size: 16px;
    }  

    .product-item img{
        height: 30vh;
    }

    /* .item__icon{
        padding: 8px;
    }

    .product-item:hover > .item__icon--add,
    .product-item:hover > .item__icon--remove{
        padding: 10px;
    } */

    .page_device_box_pre,.page_device_box_next,.page_device_box_item{
        font-size: 14px;
        min-width: 30px;
    }

    .subcribe_content{
        width: 300px;
    }

    .subcribe_content-title{
        font-size: 18px;
    }

    .subcribe_content-context{
        font-size: 15px;
    }

    .subcribe_form-input{
        width: 300px;
        font-size: 14px;
    }

    .navbar__quicklink-wrapper{
        flex-direction: column;
    }

    .navbar__social-link-wrapper{
        justify-content: center;
        gap: 20px;
    }

    .product-item:hover{
        transform: translateY(0px);
        box-shadow: unset;
    }

    .product-item .item__icon{
        padding: 10px;
        border-radius: 10px;
        font-size: 22px;
        border-width: 4px;
    }

    .product-item:hover > .item__icon{
        padding: 10px;
    } 

    .my_film-title{
        font-size: 22px;
    }

    /* Detail film */

    .detail_film_info_box--title{
        font-size: 25px;
    }

    .detail_film_info_box--text{
        font-size: 18px;
    }

    .info--title{
        width: 40%;
    }

    .info--subtitle{
        padding-right: 20px;
    }

    .detail_film_info_box--check-watchnow{
        font-size: 16px;
    }

    .detail_film_info_box--check .item__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        width: 64px;
    }

    .item__icon.item__icon--remove:hover{
        background-color: red;
        color: var(--black-color);
    }

    .item__icon.item__icon--add:hover{
        background-color: var(--black-color);
        color: var(--primary-color);
    }
}


/* 
    Tablet
*/

@media (min-width: 740px) and (max-width: 1023px){
    .hidden-on-tablet {
        display: none !important;
    }

    .product-item img{
        height: 300px;
    }

    .info--title{
        width: 20%;
    }
}


/* 
    PC
*/
@media (min-width: 1024px){
    .hidden-on-pc {
        display: none !important;
    }
}

/* 
    PC medium resolution
*/

@media (min-width: 1024px) and (max-width: 1239px) {

}
