.search__film-title{
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
    color: white;
    padding-left: 10px;
    border-left: 5px solid var(--primary-color);
}

.no-product{
    color: var(--white-color);
    height: 20vh;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}