
.subcribe{
    background-image: url('../assets/main/cta-bg.jpg');
    padding: 35px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subcribe_content{
    width: 500px;
}

.subcribe_content > *{
    color: var(--black-color);
    text-align: center;
}

.subcribe_content-title{
    font-size: 24px;
    font-weight: 600;
}
.subcribe_content-context{
    font-size: 16px;
}

.subcribe_form{
    position: relative;
}
.subcribe_form-input{
    width: 500px;
    padding: 18px 32px;
    font-size: 16px;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.subcribe_form-submit{
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
    width: 30%;
    font-weight: 600;
    color: var(--primary-color);
    background-color: #211a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}

.subcribe_form-submit:hover{
    border: 1px solid #211a1a;
    background-color: var(--primary-color);
    color: #211a1a
}